cudatoolkit=10.2.89
dgl-cuda10.2=0.7.0
matplotlib>=3.4.2
networkx>=2.5.1
nltk>=3.4
numpy=1.19.5
pandas=1.2.4
pytorch=1.8.1
regex>=2021.7.6
scikit-learn=0.24.2
scipy=1.6.3
torch-cluster=1.5.9
torch-geometric=1.7.0
torch-scatter=2.0.7
torch-sparse=0.6.9
torchaudio=0.8.1
torchvision=0.9.1
tqdm==4.31.1
transformers=4.8.2